<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Site.Language.Lang }}">

<head>
    {{ partial "title" . }}
    {{ partial "meta" . }}
    {{ partial "links" . }}
    {{ partial "scripts" . }}
</head>

<body>
    <header>
        <a id="top"></a>
        {{ partial "header" . }}
        <div style="display: flex; flex-direction: column;   z-index: 1;  flex: 1;">
            <div class="menus">
                {{ partial "langmenu" .}}
                {{ partial "theme" .}}
            </div>
            <hr>
            {{ partial "panorama" . }}
        </div>
    </header>
    <article style="flex: auto;flex-direction: column;">
        <div class="context" itemscope itemtype="https://schema.org/Article">
            {{ partial "about" . }}
            {{ partial "works" . }}
            {{ partial "partners" . }}
            {{ partial "news" . }}
            {{ partial "map" . }}
        </div>
    </article>
    <footer>
        {{ partial "contacts" .}}
        {{ partial "copyright" .}}
        {{ partial "totop"}}
    </footer>
</body>

</html>