<div class="about bloq">
    <h1>О нас</h1>
    <div style="margin: 0 20px  0 20px ; max-width: 1800px; margin-left: auto; margin-right: auto; padding-left: 10px; padding-right: 10px;">
        <p>
            Автономная некоммерческая организация "Северные горизонты" была учреждена в мае 2024 года в Вологодской области.<br><br>
            Наша миссия и цели:<br><br>
            <ul>
                <li> 1) Всесторонне способствовать появлению новых особо охраняемых природных территорий,
                <li> 2) Наращивать и раскрывать потенциал действующих ООПТ, путем усиления научных исследований, академического сотрудничества и экологического просвещения,
                <li> 3) Формировать экологические коридоры, охранные зоны и участки устойчивого природопользования разного функционального назначения между ООПТ, в качестве экологического каркаса.
            </ul>
            <br>
            <p>
                Если вы желаете стать частью нашей команды, нашим партнёром или адаптировать наш опыт на своей территории, свяжитесь с нами, мы будем рады новым контактам!</p>
        </p>
    </div>
    <div class=" square" style="display:flex; justify-content: center;">
        <a href="/organization">
            <div style="display:block; margin: 20px;">
                <p> Читать подробнее об организации</p>
        </a>
    </div>
    <div class=" square" style="display:block; margin: 20px;">
        <a href="/team">
            <p>Читать подробнее о команде</p>
        </a>
    </div>
</div>