const GetPostsJSON = async () =>
{
let response = await fetch('/index.json')
let data = await response.json()
return data
}
const filterPostsJSON = (query, element) =>
{
let result, itemsWithElement;
query = new RegExp(query, 'ig')
result = dataJSON.filter(item => query.test(item.title) | query.test(item.plain))
itemsWithElement = result.map(item => (
`<div class="search-result-item">
    <a href="${item.url}">
        ${item.parent} / ${item.title}
        <span class="icon">
            <i class="fas fa-external-link-alt"></i>
        </span>
    </a>
</div>`
))
element.style.display = 'block';
element.innerHTML = itemsWithElement.join('');
}
const searchInputAction = (event, callback) =>
{
searchInput.addEventListener(event, callback)
}
// - При фокусировании на поиске вызывать getPostsd
searchInputAction('focus', () => getPostsJSON().then(data => dataJSON = data))
// - Фильтровать результаты по запросу
searchInputAction('keyup', (event) => filterPostsJSON(event.target.value, searchResult))