<div class="bloq">
    <h1 style="margin-top: 50px">
        Интерактивная карта
    </h1>
    <center>
        <iframe width=" 1000" height="500" style="margin-top: 50px;" src="https://www.openstreetmap.org/export/embed.html?bbox=39.1738119676866%2C59.05785523558682%2C40.46676545889755%2C59.39966272631621&amp;layer=transportmap" style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/#map=11/59.2292/39.8203&amp;layers=T">View Larger Map</a></small>
    </center>
</div>