<div class="bloq">
    <h1> Наши партнёры</h1>
    <div style="justify-content: center; justify-items: center; text-align: center;">
        <h2 a href="5"> Станьте партнёром:</a></h2>
        <ul style="text-align: center;">
            <li><a href=" #works">Проведение совместных работ<a>
            <li><a href="/papers">Пожертвования и спонсорство</a>
        </ul>
        </li>
        <center>
            <div class="logo-container">
                <div class="logo-block">
                    <div class="logo" style="background-image: url('/images/image1.png')"></div>
                    <div class="logo" style="background-image: url('/images/image2.png')"></div>
                    <div class="logo" style="background-image: url('/images/image3.png')"></div>
                    <div class="logo" style="background-image: url('/images/image4.png')"></div>
                    <div class="logo" style="background-image: url('/images/image5.png')"></div>
                    <div class="logo" style="background-image: url('/images/image6.png')"></div>
                    <div class="logo" style="background-image: url('/images/image7.png')"></div>
                </div>
            </div>
        </center>
    </div>