<a id="works"></a>
<div class="grey bloq">
    <h1> Наша работа</h1>
    <div class="news-block " style="display: flex; justify-content: center; flex-wrap: wrap">
        <div class="news-item">
            <p class="multilineheader">Научные исследования</p>
            <img src="/images/image1.png" alt="News Image 1">
            <div class="block-footer">
                <a href="#">Photos</a>
            </div>
        </div>
        <div class="news-item">
            <p class="multilineheader">Экспедиции</p>
            <img src="/images/image2.png" alt="News Image 1">
            <div class="block-footer">
                <a href="#">Photos</a>
            </div>
        </div>
        <div class="news-item">
            <p class="multilineheader">Охрана природы</p>
            <img src="/images/image4.png" alt="News Image 1">
            <div class="block-footer">
                <a href="#">Photos</a>
            </div>
        </div>
        <div class="news-item">
            <p class="multilineheader" style="  max-width: 275px;">Экологическое просвящение и работа с сообществами</p>
            <img src="/images/image3.png" alt="News Image 1">
            <div class="block-footer">
                <a href="#">Photos</a>
            </div>
        </div>
    </div>
</div>