<div class="work grey bloq">
    <a id="work"></a>
    <a href="/works">
        <h1> Наша работа</h1>
    </a>
    <div style=" display: flex; justify-content: center; flex-wrap: wrap">
        <div class="news-item">
            <a href="/research">
                <div class="news-link">
                    <p class="multilineheader">Научные исследования</p>
                    <img src="/images/image1.png" alt="News Image 1">
                </div>
            </a>
            <div class="block-footer">
                <a href="/photos1">Photos</a>
            </div>
        </div>
        <div class="news-item">
            <a href="/expeditions">
                <div class="news-link">
                    <p class="multilineheader">Экспедиции</p>
                    <img src="/images/image2.png" alt="News Image 1">
                </div>
            </a>
            <div class="block-footer">
                <a href="/photos2">Photos</a>
            </div>
        </div>
        <div class="news-item">
            <a href="/nature_conservation">
                <div class="news-link">
                    <p class="multilineheader">Охрана природы</p>
                    <img src="/images/image4.png" alt="News Image 1">
                </div>
            </a>
            <div class="block-footer">
                <a href="/photos3">Photos</a>
            </div>
        </div>
        <div class="news-item">
            <a href="/environmental_education">
                <div class="news-link">
                    <p class="multilineheader">Экологическое просвящение и работа с сообществами</p>
                    <img src="/images/image3.png" alt="News Image 1">
                </div>
            </a>
            <div class="block-footer">
                <a href="/photos4">Photos</a>
            </div>
        </div>
    </div>
</div>