<div class="about">
    <h1>About us</h1>
    <p>
        The autonomous non-profit organization Northern Horizons was established in May 2024 in the Vologda Oblast.</p>
    <p>
        Our mission and goals are:
    </p>
    <ul>
        <li> 1) To comprehensively promote the emergence of new specially protected natural areas,
        <li> 2) To increase and unlock the potential of existing protected areas by strengthening scientific research, academic cooperation and environmental education,
        <li> 3) Form the regional ecological framework by creating protected areas, ecological corridors and areas of sustainable nature use of different functional purposes.
    </ul>
    <p>
        If you would like to become part of our team, our partner or adapt our experience on your territory, please contact us, we will be glad to have new contacts!
    </p>
    <div class="buttons">
        <div>
            <a href="/en/organization">
                About organization
            </a>
        </div>
        <div>
            <a href="/en/team">
                About team
            </a>
        </div>
    </div>
</div>