<div class="about">
    <h1>About us</h1>
    <div style="margin: 0 20px  0 20px ; max-width: 1800px; margin-left: auto; margin-right: auto; padding-left: 10px; padding-right: 10px;">
        <p>
            The autonomous non-profit organization Northern Horizons was established in May 2024 in the Vologda Oblast.<br><br>
            Our mission and goals are:<br><br>
            <ul>
                <li> 1) To comprehensively promote the emergence of new specially protected natural areas,
                <li> 2) To increase and unlock the potential of existing protected areas by strengthening scientific research, academic cooperation and environmental education,
                <li> 3) Form the regional ecological framework by creating protected areas, ecological corridors and areas of sustainable nature use of different functional purposes.
            </ul>
            <br>
            <p>
                If you would like to become part of our team, our partner or adapt our experience on your territory, please contact us, we will be glad to have new contacts!</p>
        </p>
    </div>
    <div class=" square" style="display:flex; justify-content: center; ">
        <div style=" margin: 20px;background: lightblue; align-content: center;">
            <a href="/organization">
                <p style="text-indent: 0px;">About organization</p>
            </a>
        </div>
        <div style=" margin: 20px;background: lightblue;align-content: center;">
            <a href="/team">
                <p style="text-indent: 0px;">About team</p>
            </a>
        </div>
    </div>
</div>