<div class="about">
    <h1>О нас</h1>
    <p>
        Автономная некоммерческая организация "Северные горизонты" была учреждена в мае 2024 года в Вологодской области.
    </p>
    <p>
        Наша миссия и цели:</p>
    <ul>
        <li> 1) Всесторонне способствовать появлению новых особо охраняемых природных территорий,
        <li> 2) Наращивать и раскрывать потенциал действующих ООПТ, путем усиления научных исследований, академического сотрудничества и экологического просвещения,
        <li> 3) Формировать региональный экологический каркас путем создания охранных зон, экологических коридоров и участков устойчивого природопользования разного функционального назначения.
    </ul>
    <p>
        Если вы желаете стать частью нашей команды, нашим партнёром или адаптировать наш опыт на своей территории, свяжитесь с нами, мы будем рады новым контактам!
    </p>
    <div class="buttons">
        <div>
            <a href="/organization">
                Об организации
            </a>
        </div>
        <div>
            <a href="/team">
                О команде
            </a>
        </div>
    </div>
</div>