<div class="contacts">
    <h1>Контакты</h1>
    <div>
        <div style="min-height: 100px;">
            <div>
                <img class="ava" src="/images/ava.png" style="">
            </div>
            <div style="display: block;">
                <div style="text-align: center;">
                    Дмитрий Олегович Садоков
                </div>
                <ul>
                    <li><a title="E-mail" href="mailto:dmitriisadokov@gmail.com" target="_blank">
                            E-mail: dmitriisadokov@gmail.com
                        </a>
                    <li> Телефон: +7 921 257 9120
                </ul>
            </div>
        </div>
        <div>
            <div class="buttons" style="flex-direction: column;">
                <div>
                    <a href="/#work">
                        Проведение совместных работ
                    </a>
                </div>
                <div>
                    <a href="/organization/#bank">
                        Пожертвования и спонсорство
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>