<div class="contacts">
    <h1>Контакты</h1>
    <div style=" display: flex; vertical-align: middle; flex-direction: row;display: flex;vertical-align: middle;flex-direction: row; align-content: center; justify-content: center; flex-wrap: wrap;">
        <img class="ava" src="/images/ava.png" style="width: 5; height:5em; margin: 0; padding-left: 10px;">
        <center>
            Дмитрий Олегович Садоков
            <ul>
                <li><a title="E-mail" href="mailto:dmitriisadokov@gmail.com" target="_blank">
                        E-mail: dmitriisadokov@gmail.com
                    </a>
                <li> Телефон: +7 921 257 9120
            </ul>
        </center>
    </div>