<div class="contacts">
    <h1>Contacts</h1>
    <div>
        <div style="min-height: 100px;">
            <div>
                <img class="ava" src="/images/contacts_circle.png" style="">
            </div>
            <div style="display: block;">
                <div style="text-align: center;">
                    Dmitrii Sadokov
                </div>
                <ul>
                    <li><a title="E-mail" href="mailto:dmitriisadokov@gmail.com" target="_blank">
                            E-mail: dmitriisadokov@gmail.com
                        </a>
                    <li> Phone: +7 921 257 9120
                </ul>
            </div>
        </div>
        <div>
            <div class="buttons" style="flex-direction: column;">
                <div>
                    <a href="/#work">
                        Collaboration
                    </a>
                </div>
                <div>
                    <a href="/organization/#bank">
                        Donations and sponsorship
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>