<div class="news">
    <h1>Новости</h1>
    <div class="news-preview">
        <div class="news-block">
            <a href="/news/otnensky_vanskaya">
                <div class=" news-item">
                    <img src="/images/news/1.png" width="400" height="250" alt="News Image 1">
                    <h3>Результаты пешего экспресс-обследования заказников "Отненский" и "Ванская лука", август 2024 г</h3>
                    <p>Скоро здесь появится дополнительная информация</p>
                </div>
            </a>
        </div>
    </div>
</div>