<div class="news">
    <h1> News</h1>
    <div class="news-preview">
        <div class="news-block">
            <a href="/en//news/otnensky_vanskaya">
                <div class=" news-item">
                    <img src="/images/news/1.png" width="400" height="250" alt="News Image 1">
                    <h3>Results of an express walking survey of the Otnensky and Vanskaya Luka nature reserves, August 2024</h3>
                    <p>More info soon</p>
                </div>
            </a>
        </div>
    </div>
</div>