<div class="partners">
    <a href="/partners">
        <h1>СТАНЬТЕ НАШИМ ПАРТНЁРОМ</h1>
    </a>
    <div style="justify-content: center; justify-items: center; text-align: center;">
        <a href="/partnerup">
        </a>
        </h2>
        <ul style="text-align: center;">
            <li><a href=" #work">Проведение совместных работ<a>
            <li><a href="/organization/#bank">Пожертвования и спонсорство</a>
        </ul>
        </li>
        <div class="logo-container">
            <div class="logo-block">
                <a href="/partner0">
                    <div class="logo" style="background-image: url('/images/partner.png')"></div>
                </a>
            </div>
        </div>
    </div>
</div>