<div class="work">
    <a id="work"></a>
    <a href="/works">
        <h1>Наша работа</h1>
    </a>
    <div class="works">
        <div class="news-item">
            <div class="news-link">
                <a href="/research">
                    <h2 class="multilineheader">Научные исследования</h2>
                    <ul>
                        <li>анализ пространственной и функциональной динамики местообитаний птиц, амфибий и млекопитающих
                        <li>картографирование структуры и экологической устойчивости лесных, водно-болотных и луковых природных комплексов
                        <li>оценка экосистемных функций водно-болотных угодий (регулирование стока, климатический и газовый баланс, ассимиляция загрязнений)
                    </ul>
                </a>
            </div>
            <div class="images">
                <img class="myImg" src="/images/research/1.png" alt="DescriptionResearch1" width="150" height="200" alt="expeditions 1">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
                <img class="myImg" src="/images/research/2.png" alt="DescriptionResearch2" width="150" height="200" alt="expeditions 2">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
                <img class="myImg" src="/images/research/3.png" alt="DescriptionResearch3" width="150" height="200" alt="expeditions 3">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
                <img class="myImg" src="/images/research/4.png" alt="DescriptionResearch4" width="150" height="200" alt="expeditions 4">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
                <img class="myImg" src="/images/research/5.png" alt="DescriptionResearch5" width="150" height="200" alt="expeditions 5">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="news-link">
                <a href="/expeditions">
                    <h2 class="multilineheader">Экспедиции</h2>
                    <ul>
                        <li>Вологодская область
                        <li>Ленинградская область
                        <li>Республика Карелия
                    </ul>
                </a>
            </div>
            <div class="images">
                <img class="myImg" src="/images/expeditions/1.png" width="150" height="200" alt="DescriptionExpeditions1">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
                <img class="myImg" src="/images/expeditions/2.png" width="150" height="200" alt="DescriptionExpeditions2">
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div id="caption"></div>
                </div>
            </div>
        </div>
        <div class="news-item">
            <div class="news-link">
                <a href="/nature_conservation">
                    <h2 class="multilineheader">Охрана природы</h2>
                    <ul>
                        <li>функциональное зонирование территорий
                        <li>сбор материалов к обоснованию создания новых ООПТ
                    </ul>
                </a>
            </div>
        </div>
        <div class="news-item">
            <div class="news-link">
                <a href="/environmental_education">
                    <h2 class="multilineheader">Экологическое просвещение и работа с сообществами</h2>
                    <ul>
                        <li>вовлечение местных активистов в учёты и наблюдения за животными
                        <li>образовательные экскурсии и студенческие практики с привязкой к региональным ООПТ
                        <li>оценка воздействия на природные комплексы в местах с повышенной рекреационной привлекательностью
                    </ul>
                </a>
            </div>
        </div>
    </div>
</div>