<div class="work">
    <a id="work"></a>
    <a href="/works">
        <h1>Works</h1>
    </a>
    <div class="works" style=" display: flex; justify-content: center; flex-wrap: wrap">
        <div class="news-item">
            <div class="news-link">
                <a href="/research">
                    <p class="multilineheader">Scientific research</p>
                    <ul>
                        <li>analysis of spatial and functional dynamics of bird, amphibian and mammal habitats
                        <li>mapping the structure and environmental sustainability of forest, wetland and meadow natural complexes
                        <li>assessment of ecosystem functions of wetlands (regulation of runoff, climate and gas balance, assimilation of pollution)
                    </ul>
                </a>
            </div>
            <a href="/images/research/1.png"><img src="/images/research/1.png" alt="expeditions 1"></a>
            <a href="/images/research/2.png"><img src="/images/research/2.png" alt="expeditions 2"></a>
            <a href="/images/research/3.png"><img src="/images/research/3.png" alt="expeditions 3"></a>
            <a href="/images/research/4.png"><img src="/images/research/4.png" alt="expeditions 4"></a>
            <a href="/images/research/5.png"><img src="/images/research/5.png" alt="expeditions 5"></a>
        </div>
        <div class="news-item">
            <div class="news-link">
                <a href="/expeditions">
                    <p class="multilineheader">Expeditions</p>
                    <ul>
                        <li>Vologda region
                        <li>Leningrad Region
                        <li>Republic of Karelia
                    </ul>
                </a>
            </div>
            <a href="/images/expeditions/1.png"><img src="/images/expeditions/1.png" alt="expeditions 1"></a>
            <a href="/images/expeditions/2.png"><img src="/images/expeditions/2.png" alt="expeditions 2"></a>
        </div>
        <div class="news-item">
            <div class="news-link">
                <a href="/nature_conservation">
                    <p class="multilineheader">Nature protection</p>
                    <ul>
                        <li>functional zoning of territories
                        <li>collection of materials to justify the creation of new protected areas
                    </ul>
                </a>
            </div>
        </div>
        <div class="news-item">
            <div class="news-link">
                <a href="/environmental_education">
                    <div class="news-link">
                        <p class="multilineheader">Environmental education and community outreach</p>
                        <ul>
                            <li>involving local activists in animal tracking and surveillance
                            <li>educational excursions and student practices linked to regional protected areas
                            <li>assessment of the impact on natural complexes in places with increased recreational attractiveness
                        </ul>
                </a>
            </div>
        </div>
    </div>
</div>